.footer__wrap{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 170px 20px 1fr 20px 165px;
    grid-template-columns: 170px 1fr 165px;
    -ms-grid-rows: (1fr)[1];
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    padding: 40px;
}.footer__wrap > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.footer__wrap > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.footer__wrap > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.footer__copy{
    list-style-type: none;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 6.3px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1a1a1a;
}
 
.menu--black .menu__list{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.menu--black .menu__item{
    color: #1a1a1a;
}
.menu--black .menu__item:not(:first-child){
    margin-left: 50px;
}
.menu--black .menu__item:first-child{
    margin-left: 30px;
}

.menu--black .menu__link{
    color: #1a1a1a;
}

.menu--black .menu__link:hover{
    color: #ef4847; 
}

@media (max-width: 1094px){
    .footer__wrap{
        -ms-grid-columns: 1fr 0% 1fr 0% 1fr 0% 1fr 0% 1fr 0% 1fr 0% 1fr 0% 1fr 0% 1fr;
        grid-template-columns: repeat(9, 1fr);
        -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0%;
        justify-items: center;
        padding: 20px;
    }
    .footer__wrap > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .footer__wrap > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .footer__wrap > *:nth-child(3){
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .footer__wrap > *:nth-child(4){
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }
    .footer__wrap > *:nth-child(5){
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }
    .footer__wrap > *:nth-child(6){
        -ms-grid-row: 1;
        -ms-grid-column: 11;
    }
    .footer__wrap > *:nth-child(7){
        -ms-grid-row: 1;
        -ms-grid-column: 13;
    }
    .footer__wrap > *:nth-child(8){
        -ms-grid-row: 1;
        -ms-grid-column: 15;
    }
    .footer__wrap > *:nth-child(9){
        -ms-grid-row: 1;
        -ms-grid-column: 17;
    }
    .footer__wrap > *:nth-child(10){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .footer__wrap > *:nth-child(11){
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .footer__wrap > *:nth-child(12){
        -ms-grid-row: 2;
        -ms-grid-column: 5;
    }
    .footer__wrap > *:nth-child(13){
        -ms-grid-row: 2;
        -ms-grid-column: 7;
    }
    .footer__wrap > *:nth-child(14){
        -ms-grid-row: 2;
        -ms-grid-column: 9;
    }
    .footer__wrap > *:nth-child(15){
        -ms-grid-row: 2;
        -ms-grid-column: 11;
    }
    .footer__wrap > *:nth-child(16){
        -ms-grid-row: 2;
        -ms-grid-column: 13;
    }
    .footer__wrap > *:nth-child(17){
        -ms-grid-row: 2;
        -ms-grid-column: 15;
    }
    .footer__wrap > *:nth-child(18){
        -ms-grid-row: 2;
        -ms-grid-column: 17;
    }
    .footer__wrap > *:nth-child(19){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .footer__wrap > *:nth-child(20){
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .footer__wrap > *:nth-child(21){
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
    .footer__wrap > *:nth-child(22){
        -ms-grid-row: 3;
        -ms-grid-column: 7;
    }
    .footer__wrap > *:nth-child(23){
        -ms-grid-row: 3;
        -ms-grid-column: 9;
    }
    .footer__wrap > *:nth-child(24){
        -ms-grid-row: 3;
        -ms-grid-column: 11;
    }
    .footer__wrap > *:nth-child(25){
        -ms-grid-row: 3;
        -ms-grid-column: 13;
    }
    .footer__wrap > *:nth-child(26){
        -ms-grid-row: 3;
        -ms-grid-column: 15;
    }
    .footer__wrap > *:nth-child(27){
        -ms-grid-row: 3;
        -ms-grid-column: 17;
    }
    .footer__copy{
        text-align: center;
        padding: 10px;
        vertical-align: middle;
        -ms-grid-column: 1;
        -ms-grid-column-span: 9;
        grid-column: 1 / 10;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
        margin: 0 auto;
    }
    .footer__menu{
        -ms-grid-column: 1;
        -ms-grid-column-span: 9;
        grid-column: 1 / 10;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        margin: 0 auto;
    }
    .footer__socials{
        text-align: center;
        padding: 10px;
        vertical-align: middle;
        -ms-grid-column: 1;
        -ms-grid-column-span: 9;
        grid-column: 1 / 10;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        margin: 0 auto;
    }
    .menu--black .menu__list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
        grid-template-columns: repeat(5, 1fr);
        -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 10px;
    }
    .menu--black .menu__list > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .menu--black .menu__list > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .menu--black .menu__list > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .menu--black .menu__list > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }
    .menu--black .menu__list > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }
    .menu--black > .menu__list > .menu__item {
        margin-left: 0px;
        text-align: center;
        padding: 10px;
        vertical-align: middle;
    }
}

@media (max-width: 480px){
    .footer__wrap{
        -ms-grid-rows: 80px 100px 80px;
        grid-template-rows: 80px 100px 80px;
    }
    .menu--black .menu__list {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    }
    .menu--black .menu__list > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .menu--black .menu__list > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .menu--black .menu__list > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .menu--black .menu__list > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .menu--black .menu__list > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .menu--black .menu__list > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .menu--black > .menu__list > .menu__item:nth-child(5) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }
    .footer__copy, .footer__socials{
        padding: 0;
    }
    .menu--black > .menu__list > .menu__item{
        padding: 5px 10px;;
    }
    .footer__copy .copy__item{
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
} 