.header__top.fixed {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90px;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
    background: #252525e8;
}

.header__top.fixed+.header__info {
    margin-top: calc(15rem + 95px);
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
}

.menu__item {
    margin-left: 65px;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 6.3px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.menu__item:first-child {
    margin-left: 0px;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    -webkit-transition-duration: 500ms;
         -o-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus {
    color: #ef4747e1;
}
@media screen and (min-width: 1540px) {
    .header__top.fixed {
        padding: 0 calc((100vw - 1500px) / 2);
    }

}
@media (max-width: 1280px) {
    .menu__item {
        margin-left: 30px;
        letter-spacing: 3px;
    }

    .header__top.fixed+.header__info {
        margin-top: calc(15rem + 95px);
    }
}

@media screen and (max-width: 1094px) {
    .header__top.fixed {
        padding: 0 20px;
    }

    .header__top.fixed+.header__info {
        margin-top: calc(12rem + 95px);
    }

}

@media (max-width: 980px) {
    .menu__item {
        font-size: 16px;
        margin-left: 15px;
        letter-spacing: 1px;
    }
}

@media (max-width: 768px) {
    .menu__list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .header__top.fixed+.header__info {
        margin-top: calc(10rem + 69.3px);
    }
}

@media (max-width: 372px) {
    .menu__list .menu__item:last-child {
        margin-left: 0;
    }
}